$mtcolor1: #000;
$mtcolor2: #333;
$mtcolor3: #666;
$mtcolor4: #999;
$mbgccolor1: #fff;
$mbgccolor2: #f0f0f0;
$mbgccolor3: #f5f5f5;
$mcolor1: #1E9FFF;
$mhovercolor:#1d7ec2;

$mborderbottom:1px solid #D4D4D4;
